<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/media.css")
        link(href!="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap", rel="stylesheet")
        title Pricing
    body
        .main
            .main-overlay
            .header
                .logo
                    img(src="img/logo.png", alt="logo")
                //- a.m-menu-link(href="")
                //-     i.fa.fa-bars
                .menu.visible-lg
                    ul
                        li
                            a.menu-link(href="") Home
                        li
                            a.menu-link(href="") Why MISOCIAL
                        li
                            a.menu-link(href="") Features
                        li
                            a.menu-link(href="") Articles
                        li
                            a.menu-link(href="") Pricing
                        li
                            a.get-started-btn.menu-link(href="") get started
            .main-text
                span social marketing & analytics
                h1 Pricing Table
                p 
                    |Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                    |Minima excepturi deleniti debitis tenetur distinctio.
            a.main-arrow(href="")
                .arrow-down
                    img(src="img/arrow.png", alt="down")

        .table
            .table-header
                span.table-subtitle MIsocial
                h2 Select a Plan
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, repellendus!
            .price-tags
                .price-tag
                    img(src="img/Asset_3@4x.png", alt="")
                    span personal
                    h4 <sup>$</sup>0<sub>/month</sub>
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint magnam eveniet dolorem soluta perferendis similique, voluptatum voluptatibus fugit aliquam sapiente maiores repellendus dolorum non iusto aperiam labore! Rerum, quibusdam placeat.
                    button.price-btn select plan
                .price-tag
                    img(src="img/Asset_1@4x.png", alt="")
                    span personal
                    h4 <sup>$</sup>29<sub>/month</sub>
                    p Dolore vel ipsum incidunt cupiditate! Sit animi officia velit unde reiciendis, eos nisi debitis quidem? Ipsam ex assumenda veniam omnis officia, tempore nulla nemo iure tempora maxime quas dolorem enim!
                    button.price-btn select plan
                .price-tag
                    img(src="img/Asset_2@4x.png", alt="")
                    span personal
                    h4 <sup>$</sup>49<sub>/month</sub>
                    p Nihil suscipit accusamus dignissimos rem nam porro. Aspernatur, vero ut veniam ab, animi deleniti amet voluptate nihil culpa officia excepturi esse! A vitae nam voluptatem provident exercitationem, eveniet reiciendis eaque.
                    button.price-btn select plan
            
        .call-to-action
            .call-to-action-overlay
            .wrap
                span socal marketing & analytics
                h4 Take control of your data
                button.cta-btn get started
                button.cta-btn explore features
        .footer-wrap    
            .footer
                .logo
                    img(src="img/logo_black.png", alt="logo")
                .footer-menu
                    ul
                        li
                            a.footer-menu-link(href="") Home
                        li
                            a.footer-menu-link(href="") Why MISOCIAL
                        li
                            a.footer-menu-link(href="") Features
                        li
                            a.footer-menu-link(href="") Articles
                        li
                            a.footer-menu-link(href="") Pricing
                        li
                            a.footer-get-started.footer-menu-link(href="") get started
        .line 
        .legal
            .copy
                p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
            .social-links
                a(href="#")
                    i.fa.fa-facebook
                a(href="#")
                    i.fa.fa-twitter
                a(href="#")
                    i.fa.fa-google-plus
                a(href="#")
                    i.fa.fa-instagram
    






