<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        .main
            .main-overlay
            .header
                .logo
                    img(src="img/logo.png", alt="logo")
                .menu
                    ul
                        li
                            a.menu-link(href="") Home
                        li
                            a.menu-link(href="") Why MISOCIAL
                        li
                            a.menu-link(href="") Features
                        li
                            a.menu-link(href="") Articles
                        li
                            a.menu-link(href="") Pricing
                        li
                            a.get-started-btn.menu-link(href="") get started
            .main-text
                span social marketing & analytics
                h1 
